[submodule "themes/hugo-alageek-theme"]
	path = themes/hugo-alageek-theme
	url = git@github.com:pranav93/hugo-alageek-theme.git
[submodule "public"]
	path = public
	url = git@github.com:pranav93/pranav93.github.io.git
	branch = master
